<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/semantic.min.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/grid.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/icon.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/button.css' />
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/form.css' />
		<script type='text/javascript' src='js/slide.js'></script>
	<script type='text/javascript' src='js/jquery-3.3.1.min.js'></script>
	<link rel='stylesheet' type='text/css' href='Semantic-UI-master/dist/components/modal.css' />
	<script type='text/javascript' src='Semantic-UI-master/dist/components/modal.js'></script>
	<script type='text/javascript' src='Semantic-UI-master/dist/components/form.js'></script>	
	<script type='text/javascript' src='Semantic-UI-master/dist/semantic.js'></script>
	<title>Teste</title>
</h:head>
<h:body> 

<div class="ui three column stackable grid container">
  <div class="column">
  <div class="ui segment">
	  <div class="content">
	    <h3 class="header">Teste</h3>
	    <div class="description">
	          <h:form class="ui large form">
	        <div class="field">
	          <div class="ui left icon input">
	            <h:inputText value="#{homeBean.titulo}"/>
	          </div>
	        </div>
	           <div class="field">
	          <div class="ui left icon input">
	            <h:inputText value="#{homeBean.paragrafo}"/>
	          </div>
	        </div>
	        <div class="field">
	          <h:commandButton value="adicionar" class="ui teal submit button" action="#{homeBean.enviar()}" />
	          	<h:commandButton value="editar" class="ui teal submit button" action="#{homeBean.editar()}" />     	
	          	<h:commandButton value="excluir" class="ui teal submit button" action="#{homeBean.excluir()}" />     
	 	        </div>
	          </h:form>
	   	 </div>
  		</div>
	</div>
  </div>
</div>
<h:dataTable value="#{homeBean.lista}" var="home" border="1">
<h:column><f:facet name="header">Id</f:facet>#{home.id}</h:column>
<h:column><f:facet name="header">Titulo</f:facet>#{home.titulo}</h:column>
<h:column><f:facet name="header">Paragrafo</f:facet>#{home.paragrafo}</h:column>
<!--<h:column><f:facet name="header">Editar</f:facet> <a href="editarUser.xhtml?id=">Editar</a></h:column>-->
</h:dataTable>

  </h:body>

</html>