<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p ="http://xmlns.jcp.org/jsf/composite/primefaces">
<h:head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Lumino UI Elements</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../css/font-awesome.min.css" rel="stylesheet"/>
	<link href="../css/datepicker3.css" rel="stylesheet"/>
	<link href="../css/styles.css" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</h:head>
<h:body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span style="color: yellow;">Flash</span>Dashboard</a>
			</div>
		</div>
	</nav>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Usuário</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li ><a href="index.html"><em class="fa fa-dashboard"></em> Dashboard</a></li>
			<li class="active"><a href=""><em class="fa fa-file-text-o"></em> Textos</a></li>
			<li ><a href=""><em class="fa fa-image"></em> Fotos</a></li>
			<li ><a href=""><em class="fa fa-file-video-o"></em> Vídeos</a></li>
			<li><a href="login.xhtml"><em class="fa fa-power-off"></em> Criar/Entrar</a></li>
		</ul>
	</div>
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Forms</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">UI Elements</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<div class="panel panel-default">
					<div class="panel-heading">Adicionar Anotações	</div>
					<div class="panel-body">
						<div class="col-md-6">
						<h:form>
								<div >
									<label>Textos</label>
									<h:inputText value="#{homeBean.titulo}" class="form-control"/>
								</div>
								<div >
									<label>Anotações</label>
									<h:inputTextarea  value="#{homeBean.paragrafo}" class="form-control" rows="3"></h:inputTextarea>
								</div>
								<h:commandButton action="#{homeBean.enviar()}" class="btn btn-lg btn-primary" Value="Enviar"></h:commandButton>
						</h:form>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/custom.js"></script>
	
</h:body>
</html>
