<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      >

<h:head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Criar/Login</title>
    <link rel="stylesheet" href="../fontsform/material-icon/css/material-design-iconic-font.min.css"/>  
    <link rel="stylesheet" href="../cssform/style.css"/>
</h:head>
<h:body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Entrar</h2>
                        <h:form enctype="multipart/form-data" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <h:inputText value="#{userBean.email}" class="form-control" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <h:inputText value="#{userBean.senha}" class="form-control" placeholder="Email" />
                            </div>
                            <div class="form-group form-button">
                                <h:commandButton id="signup" class="form-submit" value="Entrar" action="#{userBean.verificar()}"></h:commandButton>
                            </div>
                        </h:form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="../imagens/signin-image.jpg" alt="sing up image"/></figure>
                    </div>
                </div>
            </div>
        </section>
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="../imagens/signup-image.jpg" alt="sing up image"/></figure>      
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Crie sua Conta</h2>
                        <h:form enctype="multipart/form-data" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <h:inputText value="#{userBean.email}" class="form-control" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <h:inputSecret value="#{userBean.senha}" class="form-control" id="signin-password"  placeholder="Password" />                            </div>
                            <div class="form-group form-button">
								<h:commandButton id="signin" class="form-submit" value="Criar" action="#{userBean.login()}"></h:commandButton>
                            </div>
                        </h:form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="../vendorform/jquery/jquery.min.js"></script>
    <script src="../jsform/main.js"></script>
</h:body>
</html>